.wrapper {
  background-color: burlywood;
  color: cadetblue;
  margin: 0;
  height:100px;
}

#content {
  position: relative;
  width: 100px;
  height: 0;
  margin-left: 170px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.lens{
  border: 4px solid #ffffff;
  border-radius: 50%;
}
input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
  padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
  padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border:none;
  border-bottom: 4px solid #ffffff;
  border-radius: 0;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
  padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
  padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.post{
  padding:1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.363);
  border-radius: 3px;
  margin:2.5rem auto;
  width:80%;
  max-width:500px;
  background:aliceblue;
  position: relative;
}
.post-title{
  text-align:center;
  font-size:1.3rem;
  font-weight:600;

}

.post-description {
  text-align: center;
  font-size:0.9rem;
  padding:1rem;

}

.post-date{
  float:right;
  color: #3f3f3f;
  font-size: 12px;
}

.delete{
  position: absolute;
  right:0;
  top: 0;
  padding: .3rem;
  background: cadetblue;
  color:white;
  transform: translate(50%, -50%);
  border-radius: 4px;
  cursor: pointer;
}

.edit{
  position: absolute;
  right:0;
  top: 55px;
  padding:.3rem;
  background:cadetblue;
  color: aliceblue;
  transform: translate(50%, -50%);
  border-radius: 4px;
  cursor: pointer;
}

.view{
  position: absolute;
  left:0;
  top: 30px;
  padding:.5rem;
  background:cadetblue;
  color: aliceblue;
  transform: translate(50%, -50%);
  border-radius: 4px;
  cursor: pointer;
}

h2{
  margin: 25px 0;
  text-align:center;
  border-top: 3px solid burlywood;


}

.post-similar-title{
  margin: 15px 0;
  text-align:center;
  font-size:1.3rem;
  font-weight:600;
  border-top: 2px solid cadetblue;
}

.post-similar-desc{
  text-align: center;
  font-size:0.9rem;
  padding:0.5rem;
}
.not-similar{
  text-align:center;
  font-size:1.3rem;
  font-weight:600;
}



